.impar{
  background-color: rgb(161, 60, 99);
  font-family: Verdana, DejaVu Sans, sans-serif;
}

#dos{
color: rgb(28, 18, 170);
font-size: 36px;
}

.tres{
  font-size: 24px;
}

#cuatro{
background-color: rgb(151, 207, 151);
font-weight: bold;
}

